@import 'scss/themes/default.scss';
@import 'scss/layout';
@import 'scss/partials/blog';
@import 'scss/custom-components';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
