/* You can add global styles to this file, and also import other style files */
@import 'scss/themes/default.scss';
@import 'scss/layout';
@import 'scss/partials/blog';
@import 'scss/partials/auth';
@import 'scss/custom-components';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  // font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1em;
  // font-family: Roboto, 'Helvetica Neue', sans-serif;
  // font-size: 1.1rem;
}
.auth-button-tooltip {
  background: #212121;
  color: #ffffff;
}
